<h1>Internal Chat</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delet } %>
  <%= link_to "Edit Registration", edit_user_registration_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path %>
  <%= link_to "sign in", new_user_session_path %>
<% end %>
