body {
  overflow: hidden;  
}

.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
}

#single-room {
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: scroll; 
}

#message {
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: scroll; 
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}
.message-box {
  word-wrap:break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px; 
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #9b9b9b;
  padding:10px;
}
.messages-container {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}
#room_container, #side_panel, #chatroom_container {
  height: calc(100vh - 56px);
  margin-right: 0px !important; 
}